services:
  jlpe:
    # image: vyxan/jlpe_image:ml
    image: vyxan/jlpe_image:test
    ports:
      - "8888:8888"
    volumes:
      - .:/app/pet_project
      - ../jl_settings:/root/.jupyter
      - ../jl_ipython:/root/.ipython
    # working_dir: /app/pet_project/notebooks
    working_dir: /app/pet_project
      
    entrypoint: >
      poetry run jupyter lab
      --allow-root
      --no-browser
      --ip=0.0.0.0
      --port=8888
      --IdentityProvider.token=""
      --ServerApp.disable_check_xsrf=True
    stdin_open: true
    tty: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
